body{
  background-color: #cdcdcd;
}

h1{
  font-style: italic;
}

h3{
  text-align: center;
}

#main{
  border-bottom:15px solid #cdcdcd;
}

#cpp{
  border-bottom:15px solid #f34b7d;
}

#cs{
  border-bottom:15px solid #178600;
}

#java{
  border-bottom:15px solid #b07219;
}

#python{
  border-bottom:15px solid #3572A5;
}

#webdev{
  border-top: 15px solid #e44b23;
  border-left: 15px solid #563d7c;
  border-right: 15px solid #f1e05a;
  border-bottom: 15px solid #4F5D95;
}

.topicBlock{
  background-color: transparent;
  border-style: none;
}
