body{
  background-color: #cdcdcd;
    margin-top: 25px;
}

h1{
  font-style: italic;
}

h3{
  text-align: center;
}

#main{
  border:15px solid #cdcdcd;
}

#cpp{
  border:15px solid #f34b7d;
}

#cs{
  border:15px solid #178600;
}

#java{
  border:15px solid #b07219;
}

#python{
  border:15px solid #3572A5;
}

#webdev{
  border-top: 15px solid #e44b23;
  border-left: 15px solid #563d7c;
  border-right: 15px solid #f1e05a;
  border-bottom: 15px solid #4F5D95;
}

/*a:link, a:hover, a:visited, a:active{
  font-weight: bold;
}*/

.topicBlock{
  /*min-height: 200px;*/
  font-size: 15px;
}

/*@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}*/
